/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "github-markdown-css/github-markdown.css";
.markdown-body h1,
.markdown-body h2 {
  border-bottom: none;
}

:root {


	--gray-light: 229, 233, 240;

	--box-shadow:
		0 2px 6px rgba(var(--gray), 25%), 0 8px 24px rgba(var(--gray), 33%), 0 16px 32px rgba(var(--gray), 33%);
	--font-size-4xl: 3.5rem;
	--font-size-3xl: 2.25rem;
	--font-size-2xl: 1.75rem;
	--font-size-xl: 1.25rem;
	--font-size-lg: 1.125rem;
	--font-size-base: 1rem;
	--font-size-sm: 0.875rem;
	--font-size-xs: 0.75rem;

	--font-size-article-title-desktop: 2rem;

	--font-size-layout-infra-56: 3.5rem;
	--font-size-layout-infra-36: 2.25rem;
	--font-size-layout-infra-20: 1.25rem;
	--font-size-layout-infra-16: 1rem;
	--font-size-layout-infra-14: 0.875rem;
}


body {
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Noto Sans",
    Helvetica,
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji";
}


body {
	margin: 0;
	padding: 0;
}
