---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;
const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, '');
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === '/' + (subpath?.[0] || '');
---

<a
  href={href}
  {...props}
  class:list={[
    className,
    "inline-block no-underline px-2 py-4 text-[var(--black)] border-b-4 border-transparent",
    { "font-bold underline border-[var(--accent)]": isActive }
  ]}
>
  <slot />
</a>
