---
import { SITE_TITLE } from "../consts";
---
<header class="px-[24px] bg-white border-b border-[#e5e5e5]">
  <nav class="flex items-center h-[64px]">
    <a
      href="/"
      class="text-[20px] font-medium leading-none no-underline"
      style="color: #000;"
    >
      {SITE_TITLE}
    </a>
  </nav>
</header>
